* {
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background-color: var(--color-white);
    font-family: "PT Sans",sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: var(--color-black);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}

.btn--reset {
    border: 0;
    background-color: transparent;
    cursor: pointer; 
}

.btn {
    padding: 12px 28px;
    border: 1px solid var(--color-white);
    font-family: inherit;
    font-size: 18px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--color-white);
}

.hidden {
    display: none;
}

.wrapper {
    background-color: var(--color-black);
}

.title {
    position: relative;
    font-family: "PlayfairDisplay", sans-serif;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-white);

    &::before {
        content: "";
        position: absolute;
        left: 50%;
        bottom: -40px;
        transform: translateX(-60px);
        width: 120px;
        height: 1px;
        background-color: var(--color-white);
    }
}