@font-face {
    font-family: "PT Sans";
    src: url("../fonts/PT Sans-Regular.woff2") format("woff2"),
         url("../fonts/PT Sans-Regular.woff") format("woff");
    font-weight: 400;
    font-display: swap;
    font-style: normal; 
}

@font-face {
    font-family: "PlayfairDisplay";
    src: url("../fonts/PlayfairDisplay-Regular.woff2") format("woff2"),
         url("../fonts/PlayfairDisplay-Regular.woff") format("woff");
    font-weight: 400;
    font-display: swap;
    font-style: normal; 
}

@font-face {
    font-family: "PostNoBillsJaffna";
    src: url("../fonts/PostNoBillsJaffna-Bold.woff2") format("woff2"),
         url("/fonts/PostNoBillsJaffna-Bold.woff") format("woff");
    font-weight: 700;
    font-display: swap;
    font-style: normal; 
}

@font-face {
    font-family: "PlayfairDisplay";
    src: url("../fonts/PlayfairDisplay-Bold.woff2") format("woff2"),
         url("../fonts/PlayfairDisplay-Bold.woff") format("woff");
    font-weight: 700;
    font-display: swap;
    font-style: normal; 
}

